*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 600;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F9E0AE;
}

h1{
    margin-top: 1rem;
    margin-left: 5rem;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    margin-right: 5rem;
}

.nav-bar ul{
    display: flex;
    flex-direction: row;
    gap: 7rem;
    margin-top: 2rem;
    margin-right: 6rem;
    list-style: none;
}

a{
    color: black;
    font-size: 1.3rem;
}

.contact-button{
    font-size: medium;
    height: 2.5rem;
    width: 6rem;
    margin-top: 1.3rem;
    margin-right: 4rem;
    border-radius: 10px;
    background: #C24914;
    color: white;
    border-style: none;
    cursor: pointer;
}

.contact-button:hover{
    background: #c24814dd;
}

section{
    display: flex;
    flex-direction: row;
}

.conteúdo-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    margin-left: 10rem;
    gap: 2rem;
}

h2{
    font-size: 3.5rem;
}

.start-button{
    font-size: medium;
    height: 3rem;
    width: 10rem;
    background: #682C0E;
    color: white;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}

.imagem-divisao{
    margin-left: 5rem;
    margin-top: 5rem;
}

.conteudo-2{
    display: flex;
    flex-direction: row;
    margin-left: 10rem;
    margin-top: 6rem;
}

.texto-conteudo-2{
    margin-left: 7rem;
    margin-top: 2rem;
}

#lista_2{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;
}

.conteudo-3{
    display: flex;
    flex-direction: row;
    margin-top: 15rem;
    margin-left: 10rem;
    gap: 8rem;
}

.imagem-conteudo-3{
    position: relative;
    top: -2rem;
}

.conteudo-4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5rem;
    margin-left: 10rem;
    margin-right: 15rem;
    margin-top: 10rem;
    background: #F9E0AE;
    gap: 5rem;
}

.input-name, .input-email{
    height: 2rem;
    padding: 0.5rem;
    border-style: none;
}

.button-subscript{
    height: 2rem;
    width: 10rem;
    border-style: none;
    background: #C24914;
    color: white;
    cursor: pointer;
}

.button-subscript:hover{
    background: #c24814e0;
}

.ultimo-conteudo{
    margin-top: 5rem;
}

.texto-ultimo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-right: 2rem;
    margin-left: 10rem;
    margin-top: 5rem;
}

#entrar{
    height: 3rem;
    width: 12rem;
    background: #FC8621;
    color: white;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}

#entrar:hover{
    background: #fc8721df;
    color: white;
}

.imagem-ultima{
    margin-right: 15rem;
    margin-top: 5rem;
    height: 25rem;
    width: 35rem;
}

footer{
    background-color: #F9E0AE;
}

.footer{
    margin-top: 15rem;
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    background-color: #F9E0AE;
}

.footer-img{
    margin-left: 5rem;
   margin-top: 2rem;
}

.redes{
    margin-top: 1rem;
}

.Links{
    margin-top: 1rem;
}

.Links ul{
    font-style: normal;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Contatos{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-right: 1.5rem;
    gap: 1rem;
}

#copy{
    margin-top: 7rem;
    text-align: center;
    padding-bottom: 3rem;
}
